{% extends 'base.html.twig' %}

{% block title %}SECURITY PROJECT{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <p style="font-size:45px">Welcome to Symfony Security Project.</p>
    <img src="https://media.istockphoto.com/id/2153383852/es/foto/ciberseguridad-y-protecci%C3%B3n-de-datos-en-internet-escudo-acceso-seguro-y-conexi%C3%B3n-encriptada.jpg?s=612x612&w=0&k=20&c=iT-DCi05uUaGhDJHbXw6-xuDaKCR9QbshXrvpopT03E=">
    <ul style="list-style:none">
        
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="/logout"><strong>SALIR</strong></a></li>
        {% else %}
            <li><a href="/login"><strong>LOGIN</strong>  (Si ya tiene una cuenta)</a></li>
            <li><a href="/register"><strong>REGISTRO</strong> (Para crear una cuenta)</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
